.mod_article.columns_wrapper { 
    --margin: 20px;
    --border-width: 1px;
    &.full_width_columns {
        --margin: 0px;
        --border-width: 0px;
    }
	&:not(.has_inside), &.has_inside > .inside { display: flex; flex-wrap: wrap; justify-content: center;
        &.inside { margin-left: -20px; margin-right: -20px; }
        & > * { 
            width: calc( ( 100% / var(--columns, 1) ) - ( var(--margin, 0) * 2 ) - ( var(--border-width, 0) * 2 ) ); 
            max-width: calc( 1280px / var(--columns, none) );
            border: 1px solid #ddd; 
            padding: 30px; 
            margin: 20px; 
            background: #fff; 
		    &.no_column { width: 100%; max-width: 100%; border: 0; background: transparent; padding: 0; margin: 0; margin-bottom: 20px;
                & > .inside { width: var(--width_article_children, 100%); margin: auto; }
            }
	    }
        &.inside > .no_column > .inside { width: var(--width_article_children, 100%); max-width: 100%; }            
	}
    &.full_width_columns > * { border: 0; margin: 0; padding: 0;max-width: none; }
}