.mod_article.columns_wrapper { 
    --margin: 20px;
    --border-width: 1px;
    &.full_width_columns {
        --margin: 0px;
        --border-width: 0px;
    }
	&:not(.has_inside), &.has_inside > .inside { display: flex; flex-wrap: wrap; justify-content: center;
        & > * { 
            width: calc( ( 100% / var(--columns, 1) ) - ( var(--margin, 0) * 2 ) - ( var(--border-width, 0) * 2 ) ); 
            margin: 20px; 
            @media(max-width:1023px){ width: calc( ( 100% / 2 ) - ( var(--margin, 0) * 2 ) - ( var(--border-width, 0) * 2 ) );  }
            @media(max-width:640px){  width: calc( ( 100% / 1 ) - ( var(--margin, 0) * 2 ) - ( var(--border-width, 0) * 2 ) );  }
		    &:not(.no_column) { padding: 0; }
            &.no_column { width: 100%; max-width: 100%; border: 0; background: transparent; margin: 0; margin-bottom: 20px;
                & > .inside { width: var(--article_inside_width, 100%); margin: auto; }
            }
	    }
        &.inside > .no_column > .inside { width: var(--article_inside_width, 100%); max-width: 100%; }            
	}
    &.full_width_columns > * { border: 0; margin: 0; padding: 0;max-width: none; }
}